@import "tailwindcss";
@import "@fontsource/space-mono";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-border: var(--border);
    --color-black: var(--black);
    --color-red: var(--red);
    --color-green: var(--green);
    --color-yellow: var(--yellow);
    --color-blue: var(--blue);
    --color-purple: var(--purple);
    --color-cyan: var(--cyan);
    --color-brightBlack: var(--brightBlack);
    --color-brightRed: var(--brightRed);
    --color-brightGreen: var(--brightGreen);
    --color-brightYellow: var(--brightYellow);
    --color-brightBlue: var(--brightBlue);
    --color-brightPurple: var(--brightPurple);
    --color-brightCyan: var(--brightCyan);
    --color-brightWhite: #d7d7d7;

    --font-mono: var(--font-family);
}

:root {
    --background: #141415;
    --foreground: #cdcdcd;
    --border: #252530;
    --black: #252530;
    --red: #d8647e;
    --green: #7fa563;
    --yellow: #f3be7c;
    --blue: #6e94b2;
    --purple: #bb9dbd;
    --cyan: #aeaed1;
    --brightBlack: #606079;
    --brightRed: #e08398;
    --brightGreen: #99b782;
    --brightYellow: #f5cb96;
    --brightBlue: #8ba9c1;
    --brightPurple: #c9b1ca;
    --brightCyan: #bebeda;
    --brightWhite: #d7d7d7;
    --font-family: "Space Mono", monospace;
}

@layout base {
    body {
        @apply bg-background font-mono;
    }
}